<nav class="nav">
  <h1><a routerLink="/">BUBBA</a></h1>
  <div *ngIf="cardType==='default' || cardType==='customer'" class="nav-search">
    <input type="text" #searchInput (keyup)="searchdress($event)" (blur)="clearsearch()" placeholder="search for dresses">
    <button (click)="submitSearch(searchInput.value)">Search</button>
    <ul class="suggested-search" *ngIf="searchResult">
      <li  *ngFor="let item of searchResult">
        <a (mousedown)="redirect(item.id)">{{item.name}}</a>
      </li>
    </ul>
  </div>
<div [ngSwitch]="cardType">
  <ul *ngSwitchCase="'default'">
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="customer-auth">Login</a></li>
    <li><a routerLink="merchant-auth">Merchant</a></li>
    <li><a routerLink="cart">Cart({{cartItems}})</a></li>
    <li><a href="">Aboutus</a></li>
  </ul>
  <ul *ngSwitchCase="'customer'">
    <li><a routerLink="">Home</a></li>
    <li><a (click)="customerLogout()">Logout</a></li>
    <li><a routerLink="merchant-auth">{{customerName | titlecase}}</a></li>
    <li><a [routerLink]="cartItems>0?'cart':null">Cart({{cartItems}})</a></li>
    <li><a routerLink="my-order">My Orders</a></li>
  </ul>
  <ul *ngSwitchCase="'merchant'">
    <li><a routerLink="merchant-add-dress">Add dress</a></li>
    <li><a routerLink="merchant-home">Dress List</a></li>
    <li><a href="">{{merchantName}}</a></li>
    <li><a (click)="logout()">Logout</a></li>
  </ul>
</div>
</nav>
