.order{
  margin-bottom: 100px;
}
.order h1{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.order .order-img{
  width: 100px;
}

.order .row{
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom:1px solid #ddd;

}
